[2019-02-28 19:33] krzyzacy opened #3 "Actually we need to set up prow for this repo first!"
cc @cjwagner

[2019-02-28 19:56] krzyzacy commented on #3
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/4

[2019-02-28 19:56] #3 closed

[2019-02-28 19:56] krzyzacy opened #5 "Add a configcheck presubmit for this repo"
/assign

[2019-03-07 19:10] #5 closed

[2019-04-25 21:36] krzyzacy opened #8 "split configs"

[2019-04-25 21:36] krzyzacy opened #9 "enable spyglass"

[2019-04-25 21:36] krzyzacy commented on #8
cc @liamh

[2019-04-25 21:37] krzyzacy commented on #8
cc @hopkiw

[2019-04-26 18:48] krzyzacy commented on #8
/assign

[2019-04-26 18:48] krzyzacy commented on #9
/assign

[2019-04-26 23:05] #8 closed

[2019-05-02 22:23] krzyzacy opened #20 "Cannot assign issues to GCP members"
ref https://github.com/GoogleCloudPlatform/oss-test-infra/pull/19#issuecomment-488851272

[2019-05-02 22:23] krzyzacy commented on #20
testing

/assign rofuentes hopkiw

[2019-05-02 22:39] krzyzacy commented on #20
/assign rofuentes hopkiw

[2019-05-02 22:41] hopkiw commented on #20
:+1:

[2019-05-02 22:53] krzyzacy commented on #20
(Added https://github.com/orgs/GoogleCloudPlatform/teams/compute-image-tools-admin as repo writer)

[2019-05-02 22:53] #20 closed

[2019-05-03 00:34] krzyzacy opened #22 "Tide does not reporting queries?"
https://prow.gflocks.com/tide is pretty blank, wonder if some config was missing? (reported by @hopkiw)

cc @cjwagner

[2019-05-03 01:14] cjwagner commented on #22
Deck isn't configured to fetch data from Tide. (Notice that there is no "Tide" or "Tide History" section in the menu bar.)
This flag must be specified:
https://github.com/kubernetes/test-infra/blob/7840ca27e11b0e6272c470a5e0afccaedc926e68/prow/cmd/deck/main.go#L120
Similarly, Deck isn't configured to fetch plugin help data from hook.
We should probably add the `--tide-url`, `--hook-url`, and `--re

[2019-05-03 19:09] krzyzacy commented on #22
https://prow.gflocks.com/tide and https://prow.gflocks.com/tide-history works now :-) thanks @cjwagner !

[2019-05-03 19:09] #22 closed

[2019-05-16 17:36] #9 closed

[2019-09-04 21:39] chases2 opened #66 "Gerrit fails to replace pod on bump"
After running `make -C prow deploy`, the other pods updated, but gerrit is stuck in ContainerCreating mode. The new pod won't spin up, and the old pod won't terminate.

[code]

[2019-09-04 21:41] fejta commented on #66
Delete both the gerrit pods to resolve

[2019-09-04 21:44] krzyzacy commented on #66
we should migrate to use gcs here as well

[2019-09-04 21:45] fejta commented on #66
yep

[2019-09-04 21:46] chases2 commented on #66
Deleting the gerrit pods did resolve the problem in the short-term, but I suspect it may crop up again the next time we bump.

[2019-09-05 17:57] chases2 commented on #66
nb: happened again today; same resolution worked.

If there's any piece of debug information I can try and capture when this reoccurs, please let me know.

[2019-09-05 18:36] clarketm opened #68 "Setup Prow job rerun"
![image](https://user-images.githubusercontent.com/9957358/64368712-b302dd00-cfcf-11e9-8c66-fc638f775e32.png)

It would be great to expose this feature to existing prow users. The infrastructure is in place - it just needs to be configured.

Tasks:
- [x] A `GoogleCloudPlatform` owner to create a [Github Oauth App](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/github_oauth_setu

[2019-09-05 18:36] clarketm commented on #68
@fejta - Are you an owner? If so, can you help me with task 1 (Github Oauth App) above; I do not have the access.

[2019-09-05 22:09] chases2 commented on #66
I want to keep an eye on this next bump to see if the issue persists
/unassign fejta

[2019-09-06 18:39] chases2 commented on #66
The issue did not persist

[2019-09-06 18:39] #66 closed

[2019-09-09 19:05] hopkiw opened #76 "Gubernator no longer shows build-log.txt output"
Starting today, users trying to view prow jobs via the 'gubernator' interface report seeing only the main interface elements (logo, job history, artifacts link etc.) followed by a blank black page, where previously the output of build-log.txt was present. The build log is still discoverable through the artifacts link.

[2019-09-09 20:44] hopkiw commented on #76
/assign chases2

[2019-09-09 20:46] krzyzacy commented on #76
@hopkiw Which repo is that? Can you provide a broken link? Everything should point to spyglass today afaik...

[2019-09-09 21:05] hopkiw commented on #76
sorry, you're right, calling it gubernator out of habit but it is actually spyglass. pick any job link from prow.gflocks.com

[2019-09-09 21:29] chases2 commented on #76
This bug isn't recreatable with other instances of Prow, so there's something unique to this instance that is causing the issue. See [prow.k8s.io](https://prow.k8s.io/) and [prow.istio.io](https://prow.istio.io/)

[2019-09-10 05:02] clarketm opened #79 "Add clarketm as GoogleCloudPlatform/oss-test-infra collaborator"
As a collaborator, `clarketm` can `lgtm` pull requests.

![image](https://user-images.githubusercontent.com/9957358/64585383-6f043500-d34d-11e9-9c9f-bdf8f6af14dd.png)

/assign @fejta

[2019-09-10 17:44] hopkiw opened #80 "google-oss-robot commenting wrong links in failed tests"
Starting today, google-oss-robot account is posting incorrect links in 'test failed' comments. The links previously pointed to prow.gflocks.com.... and now point back to the PR itself.

See working: https://github.com/GoogleCloudPlatform/guest-oslogin/pull/4
And broken: https://github.com/GoogleCloudPlatform/guest-oslogin/pull/5

[2019-09-10 22:20] hopkiw commented on #80
/assign @krzyzacy

[2019-09-10 22:22] krzyzacy commented on #80
/assign @chases2

more oncall fun ^^

[2019-09-10 23:37] hopkiw commented on #80
actually in prow.gflocks.com there is also a UI change, and no longer any spyglass links for individual jobs. this has made prow broken for us.

[2019-09-10 23:40] hopkiw commented on #80
there are also no links being added in the success case, in the status checks box

[2019-09-24 20:09] clarketm opened #94 "Create a dedicate build cluster"
### Create a dedicate build cluster
This allows for isolation between the Prow cluster and the jobs running on it. Furthermore, this enables the introduction of "trusted" jobs for general deployments, image builds, and prow bumps in order to automate repeatable, mundane tasks without exposing the cluster (or secrets) to unprivileged users.

- [x] Create a GCP Prow **build** cluster.
- [x] Migrate

[2019-09-26 00:29] clarketm commented on #79
@fejta -  is this something you can help. If not do you know who can?

[2019-09-26 06:02] clarketm opened #97 "Replace Make with Bazel"
Currently, this repo uses Makefiles to perform *build* and *deploy* operations. We would like to replace each `make` **target** with its equivalent `bazel` command.

/help

[2019-09-26 17:32] #79 closed

[2019-09-26 17:32] clarketm commented on #79
Thanks @Katharine !

[2019-09-26 21:19] #94 closed

[2019-09-26 23:18] clarketm opened #101 "Enable ghproxy for Github API calls"
Enable ghproxy for Github API calls to limit token usage.

#100

/assign

[2019-09-28 00:14] fejta opened #103 "crier failing to report kunit-test-presubmit"
[code]

That's an odd url

/kind oncall-hotlist

[2019-09-28 00:14] fejta opened #104 "Add kind plugin"
/kind oncall-hotlist should work
/assign

[2019-09-28 00:15] fejta commented on #103
/assign @fejta @krzyzacy

[2019-09-28 00:17] krzyzacy commented on #103
oh I know this one...

[2019-09-28 00:19] fejta commented on #104
For oss-test-infra and testgrid -- probably the whole org really

[2019-09-28 00:21] krzyzacy commented on #103
I cannot find the original issue though...

The problem is github reporter was trying to report a gerrit job as there's no way to tell if a prowjob is from github or gerrit. (and this prow instance talks to both github and gerrit)

[2019-09-28 00:32] fejta opened #106 "Prow broken when deploying upstream latest"
See https://github.com/GoogleCloudPlatform/oss-test-infra/pull/105

I think also plank is missing rbac rules... maybe other thigns.

Need to investigate further

[2019-10-03 21:28] fejta commented on #106
/assign @BenTheElder

Fixed maybe?

[2019-10-03 23:04] BenTheElder commented on #106
:eyes:

[2019-10-03 23:23] fejta commented on #103
That is a bug though, right?

[2019-10-03 23:57] iamsubratp opened #108 "Add Knative build controller"
What would you like to be added:
Add knative build controller to oss-test-infra prow instance.
Why is this needed:
We want to use knative build step functionality

[2019-10-03 23:58] BenTheElder commented on #103
what's the status on this?

[2019-10-03 23:58] BenTheElder commented on #108
@cjwagner @fejta is this currently usable? what does this entail?

[2019-10-04 18:57] iamsubratp commented on #108
@cjwagner can you please respond to this?

[2019-10-04 23:12] cjwagner commented on #108
Sounds like we are going to get rid of the knative build controller because it is deprecated (https://github.com/kubernetes/test-infra/issues/14626) and Guest OS is going to make their postsubmit jobs handle the git tagging itself. We hope to better support these kinds of use cases in the future with proper Prow+Tekton integration.

[2019-10-04 23:12] #108 closed

[2019-10-05 00:37] iamsubratp commented on #108
since knative builds are going to be deprecated; and we decided to take a different approach for this problem, closing this issue

[2019-10-09 22:11] fejta commented on #106
We've now bumped
/close

[2019-10-09 22:11] #106 closed

[2019-10-09 22:12] fejta commented on #106
/assign @fejta

[2019-10-10 00:24] fejta opened #115 "Autobump fails"
/assign @cjwagner

https://prow.gflocks.com/view/gcs/oss-prow/logs/ci-test-infra-autobump-prow/1182074783416717312

[code]

[2019-10-10 23:48] #104 closed

[2019-10-10 23:57] fejta opened #126 "We do not validate that plugin.yaml, config.yaml is valid before merge"
See https://github.com/GoogleCloudPlatform/oss-test-infra/pull/125

[2019-10-11 00:02] fejta opened #127 "approve enabled in repos without OWNERS files"
Repos with this problem:
- [ ] guest-agent - https://github.com/GoogleCloudPlatform/guest-agent/issues/3
- [ ] compute-images-packages - https://github.com/GoogleCloudPlatform/compute-image-packages/issues/859

[code]

[2019-10-11 20:39] fejta commented on #103
Still happening
[code]

[2019-10-11 22:28] fejta commented on #126
/assign @cjwagner

Can you look into this? It sounded like you know what's going on from yesterday

[2019-10-11 22:29] fejta commented on #115
/close
it is working!

[2019-10-11 22:29] #115 closed

[2019-10-12 00:39] #126 closed

[2019-10-14 22:16] fejta commented on #103
Still happening

[2019-10-15 18:41] fejta opened #135 "Migrate to default_decoration_configs"
[code]

/assign
/kind oncall-hotlist

[2019-10-15 20:10] #135 closed

[2019-10-15 20:49] fejta commented on #103
I'm planning to look into this soon/next.

[2019-10-15 21:01] fejta commented on #103
/area prow
/area prow/crier

[2019-10-15 22:54] #68 closed

[2019-10-16 22:22] fejta commented on #103
Still planning to work on this

[2019-10-21 23:43] michelle192837 commented on #103
Any updates? (And/or ETA?)

[2019-10-23 02:56] fejta commented on #103
Stop-gap is to make GH reporter not report anything with a `client.GerritReportLabel`

https://github.com/kubernetes/test-infra/blob/62f82f4febdca9ef41e1d5649ba1d83b730c696c/prow/gerrit/adapter/adapter.go#L279

[2019-10-23 21:04] krzyzacy commented on #103
https://kunit-review.googlesource.com/c/linux/+/2649 - the spam might be related, maybe not?

[2019-10-23 22:32] cjwagner opened #142 "Cert-manager version is not supported by letsencrypt."
Same problem as here: https://github.com/kubernetes/test-infra/issues/14944

File for this instance: https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/cluster/cert-manager.yaml

/kind oncall-hotlist
cc @Katharine

[2019-10-24 00:12] fejta commented on #103
I suspect we kept creating and never reporting some prow jobs. And now we finally reported them.

[2019-10-24 00:17] krzyzacy commented on #103
another suspicious point: https://prow.gflocks.com/?type=presubmit&job=kunit-test-presubmit - we had ~2mo old prowjobs which disagrees with the age we configured: https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/config.yaml#L59

[2019-10-25 22:14] Katharine opened #146 "Set --cookie-secret for deck"
Otherwise things will explode next week-ish.

[2019-10-25 22:43] #103 closed

[2019-10-25 22:58] krzyzacy opened #147 "max_prowjob_age did not take effect?"
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/config.yaml#L59 that's set to 48h

while we still have super old presubmit entries on deck? (https://prow.gflocks.com/?repo=kunit-review.googlesource.com%2Flinux&type=presubmit)

[2019-10-29 19:19] #146 closed

[2019-10-29 19:41] fejta opened #152 "Add support for testgrid annotations on prowjobs"
Can we get your utility set up on this repo to a) automatically create/update a testgrid.yaml based on the annotations on prowjobs in this repo and b) create kubernetes/test-infra PRs to get this added to testgrid.k8s.io?

/assign @chases2

[2019-11-06 21:39] chases2 commented on #152
Yes. I plan to start this once the Transfigure image is working as intended for Istio.

Then, I can create docs for an example Prow Job and use it here.

[2019-11-07 18:03] chases2 opened #157 "google-oss-robot hasn't signed the CLA"
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/155

Is autobumping on this repo a work-in-progress?

[2019-11-07 18:13] chases2 commented on #157
Triaging: Autobumping works otherwise, and this doesn't seem to really block the oncall (since they can `override` or force-merge)

[2019-11-08 00:43] Katharine commented on #142
For the record:

The plan is to move over to GKE Managed Certs. This is going to involve some downtime (~20 minutes) as we perform the transition. We have until January 15th to get this done.

I'll put up the PR that does the magic soon.

/assign

[2019-11-08 18:14] chases2 opened #159 "Prow Jobs stuck in triggered state"
/cc @fejta @BenTheElder

All of the Prow Jobs on the gflocks instance of Prow have been stuck in "triggered" state since Nov 7th. https://prow.gflocks.com/

Rerunning jobs seems to only get them _also_ stuck in that state.

[2019-11-08 18:46] BenTheElder commented on #159
looks like
- we have a build cluster with bad certs (agones)
- we have missing RBAC to list prowjobs in at least some components
- we have missing RBAC to do leader election in sinker

Not sure what else, but none of this should be new. I did not mutate this cluster yesterday and I do not remember being informed of any changes. :|

[2019-11-08 18:59] BenTheElder commented on #159
prow/cluster has not changed in 7 days. I'm not sure what introduced this yet though..

[2019-11-08 19:12] hopkiw commented on #159
Our legacy prow cluster (that we are migrating away from in favor of this OSS cluster) also had a bizarre change in behavior with stuck jobs that didn't seem related to any recent change. Would be willing to share logs or give inspection access if it would be helpful.

[2019-11-08 20:25] BenTheElder commented on #159
I don't think that's related, we diagnosed this particular bug to a bad build cluster credential that caused plank to lock up.

[2019-11-08 20:41] BenTheElder commented on #159
Please file an issue with test-infra / prow upstream. This issue is for tracking issues with the cluster the current oncall maintains, as opposed to general prow issues that OWNERS of components should handle.

[2019-11-08 21:12] BenTheElder opened #160 "RBAC rules are incorrect"
https://github.com/GoogleCloudPlatform/oss-test-infra/issues/159#issuecomment-551945307

`textPayload: "error retrieving resource lock default/prow-sinker-leaderlock: configmaps "prow-sinker-leaderlock" is forbidden: User "system:serviceaccount:default:sinker" cannot get resource "configmaps" in API group "" in the namespace "default"`

`textPayload: "external/io_k8s_client_go/tools/cache/reflecto

[2019-11-08 21:28] chases2 commented on #159
The Prow cluster is now processing jobs

[2019-11-08 21:28] #159 closed

[2019-11-08 23:38] BenTheElder commented on #160
/assign

[2019-11-09 00:19] #160 closed

[2019-11-09 01:14] BenTheElder opened #163 "github oauth should be against the robot account, not a human"
![image](https://user-images.githubusercontent.com/917931/68520286-3b5d6280-024b-11ea-85ae-19a3f9f80771.png)
/assign @clarketm

[2019-11-09 01:17] BenTheElder opened #164 "unable to rerun jobs"
we return a 200 `You don't have permission to rerun that job` when I click rerun.

[2019-11-09 01:19] clarketm commented on #163
I sent a transfer request 2 months ago to `GoogleCloudPlatform` as suggested to me by the team at some point.
![image](https://user-images.githubusercontent.com/9957358/68520325-89726600-024b-11ea-804e-3833da9cbaae.png)

It was not accepted, so I will sent to bot instead. Someone with permission still needs to accept:
![image](https://user-images.githubusercontent.com/9957358/68520369-df470e00-024

[2019-11-09 01:20] BenTheElder commented on #163
you should have access to the account in [internal credential store] ?

[2019-11-09 01:21] clarketm commented on #163
If that is the case, then I will find the creds, login, then accept the transfer.

[2019-11-09 01:24] BenTheElder commented on #163
I'm logged in but haven't foudn the transfer request just yet.

[2019-11-09 01:24] clarketm commented on #163
/assign

Transfer complete.

[2019-11-09 01:24] BenTheElder commented on #163
thanks!

[2019-11-09 01:24] #163 closed

[2019-11-15 22:09] chases2 commented on #127
Prow is still generating these errors; likely the same root cause
[code]

[2019-11-27 03:23] clarketm commented on #164
Are you a member of [`@GoogleCloudPlatform/googlers`](https://github.com/orgs/GoogleCloudPlatform/teams/googlers)? Rerun is currently configured to authorize any member of this particular GitHub team.

https://github.com/GoogleCloudPlatform/oss-test-infra/blob/e73191c4bc0b79ef1d8fcb61113e67362fb2bd95/prow/config.yaml#L88-L90

[2019-12-02 22:03] BenTheElder commented on #164
I am not, sent a request to join. This team is surprising as it's not listed in go/github.
I am a member of the Orgs.

[2019-12-02 22:10] clarketm commented on #164
@BenTheElder

It is surprising. I personally do not recall *explicitly* needing to join this group, maybe new member are now auto-enrolled when they join the `GoogleCloudPlatform` org.

I recently added support for using GitHub orgs to authorize rerun: https://github.com/kubernetes/test-infra/pull/15393. Before this we needed either a user-list or GitHub team. It might make more sense now to switc

[2019-12-02 22:14] BenTheElder commented on #164
hmm yeah that might be it.

SGTM 👍

[2019-12-02 22:14] BenTheElder commented on #164
so i am a member now and it seems to be working, a bit slower than I remember but 🤷‍♂

[2019-12-02 22:22] clarketm commented on #164
Not sure on the cause of the slowness 🤷‍♂

[2019-12-02 22:22] #164 closed

[2019-12-04 23:05] fejta opened #178 "plank.allow_cancellations is deprecated"
[code]

/kind oncall-hotlist

[2019-12-05 22:20] fejta opened #181 "Use crier to report to github"
I'm seeing
[code]
messages

See https://github.com/istio/test-infra/issues/1976 for something similar

/kind oncall-hotlist

[2019-12-05 22:57] fejta commented on #142
Show me the magic!

[2019-12-05 23:02] fejta commented on #178
We do not set this field, it should not be warning us about anything
/close

Dup of https://github.com/kubernetes/test-infra/issues/15502

[2019-12-05 23:02] #178 closed

[2019-12-10 00:51] fejta commented on #181
/assign

[2019-12-11 08:25] jingzhang36 opened #187 "Add KFP backend presubmit test to prow config at prow/prowjobs/kubeflow/kubeflow-presubmits.yaml"

[2019-12-11 08:26] jingzhang36 commented on #187
/assign @jingzhang36
/cc @jlewi

[2019-12-12 22:39] chases2 commented on #157
This issue should be resolved with the nearest merge. Looking for feedback from oncall; do you still need to override?

[2019-12-13 00:04] chases2 commented on #157
Override is no longer needed.
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/189

[2019-12-13 00:04] #157 closed

[2019-12-13 00:05] chases2 commented on #152
Tests are currently running, but aren't passing. See https://github.com/GoogleCloudPlatform/oss-test-infra/pull/189

[2019-12-13 18:35] jlewi commented on #187
@jingzhang36 you might want to file an issue in kubeflow/pipelines so that it gets tracked as part of the KFP work items.

[2019-12-17 18:34] chases2 commented on #152
Tests are now passing. See #193

[2019-12-17 18:34] #152 closed

[2019-12-18 19:01] TAOXUY opened #195 "setup oss prow for GoogleCloudPlatform/esp-v2"

[2019-12-18 19:01] TAOXUY commented on #195
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/194

[2019-12-19 00:28] chases2 commented on #195
Repository setup should be complete; that repo is now forwarding webhooks to this prow instance.

Will wait for confirmation before closing this issue.

[2019-12-30 22:05] cjwagner commented on #142
Bump. Just got an email reminder that the cert expires on January 17th.

[2020-01-02 17:23] Katharine commented on #142
Fixed by #199

[2020-01-03 16:28] #142 closed

[2020-01-07 21:38] fejta opened #202 "Use workload identity for prow"
We should stop sending this flag:
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/bc1c6b91cf772fa7f116a3c2119a874e53f2c19b/prow/cluster/cluster.yaml#L344

We already define a service account:
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/bc1c6b91cf772fa7f116a3c2119a874e53f2c19b/prow/cluster/cluster.yaml#L335

We should annotate it with GCP SA rights: https://github.com/kube

[2020-01-08 23:32] fejta commented on #202
Merged #204

Binding:
[code]

[2020-01-09 01:11] fejta commented on #202
Well that failed miserably, apparently because I cannot follow instructions: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_workload_identity_on_an_existing_cluster

[2020-01-10 21:38] fejta commented on #202
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/4a6428605cba8c4053d0371bca9f2bf82ece031a/prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml#L114-L116

now uses

https://github.com/GoogleCloudPlatform/oss-test-infra/blob/4a6428605cba8c4053d0371bca9f2bf82ece031a/prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml#L124

which authent

[2020-01-10 22:13] fejta commented on #202
Now will migrate the prow updater to use workload identity:

[code]

[2020-01-10 22:30] fejta opened #222 "Use workload identity for esp-v2"
/assign @hopkiw

ref https://github.com/GoogleCloudPlatform/oss-test-infra/issues/202

- [x] Run [enable-workload-identity.sh](https://github.com/kubernetes/test-infra/blob/master/experiment/workload-identity/enable-workload-identity.sh) on the build cluster
- [ ] Run [bind-service-accounts.sh](https://github.com/kubernetes/test-infra/blob/master/experiment/workload-identity/bind-service-accounts.

[2020-01-10 22:32] fejta opened #223 "Use workload identity for gcp-guest"
/assign @hopkiw
https://github.com/GoogleCloudPlatform/oss-test-infra/issues/202

Instructions:

- [ ] Run [enable-workload-identity.sh](https://github.com/kubernetes/test-infra/blob/master/experiment/workload-identity/enable-workload-identity.sh) on the build cluster
- [ ] Run [bind-service-accounts.sh](https://github.com/kubernetes/test-infra/blob/master/experiment/workload-identity/bind-service

[2020-01-10 22:37] fejta commented on #223
Actually since these jobs run on your own cluster, feel free to manage this however you want, but workload identity is the best practice for authenticating to GCP inside a GKE pod

https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

[2020-01-10 22:39] fejta commented on #222
Since these jobs run on the shared prow.gflocks.com build cluster, rather than your own cluster, these need to get migrated as we plan to soon delete the above two secrets (especially the shared `service-account` secret)

[2020-01-13 19:31] fejta commented on #202
fejta@fejta3:~/src/gh/oss-test-infra$ ../test-infra/experiment/workload-identity/enable-workload-identity.sh oss-prow-builds us-west1-a prow
++ gcloud beta container clusters describe prow '--format=value(workloadIdentityConfig.identityNamespace)' --project=oss-prow-builds --zone=us-west1-a
++ gcloud beta container node-pools list --cluster=prow '--format=value(name,config.workloadMetadataConfig.n

[2020-01-15 20:54] fejta opened #237 "Set up label sync"

[2020-01-17 19:41] fejta opened #245 "Apply job only updates grandmatriarch"
https://prow.gflocks.com/view/gcs/oss-prow/logs/post-oss-test-infra-deploy-prow/1218256511885643776

/kind oncall-hotlist
/assign

[2020-01-17 23:31] fejta commented on #222
/assign @TAOXUY

[2020-01-17 23:47] fejta commented on #222
Thanks Xuyang!
/close

[2020-01-17 23:47] #222 closed

[2020-01-18 01:08] fejta commented on #245
Maybe fixed? https://prow.gflocks.com/view/gcs/oss-prow/logs/post-oss-test-infra-deploy-prow/1218339057784852480

Will test out next week

[2020-01-21 09:04] jingzhang36 commented on #187
@jlewi do you know the ETA of these two PRs https://github.com/GoogleCloudPlatform/oss-test-infra/pull/93 and https://github.com/GoogleCloudPlatform/oss-test-infra/pull/177? If they are not planned to be merge soon, I'll probably still add Prow tests of KFP backend to the old place.

[2020-01-21 09:08] jingzhang36 commented on #187
Close this one to open in kubeflow/pipelines repo

[2020-01-21 09:08] #187 closed

[2020-01-21 19:26] fejta opened #252 "Cannot list pods in kubeflow cluster"
[code]

/kind oncall-hotlist

[2020-01-21 21:31] fejta commented on #181
Still think this is necessary maybe?

[2020-01-21 21:51] fejta commented on #245
/assign @Katharine
FYI

Going to try and resolve this today, but note that I've been having to manually apply oss-prow this week for mysterious reasons

[2020-01-21 22:05] fejta commented on #245
Looks like we have competing sets of deployments
[code]

[2020-01-21 22:23] fejta commented on #245
Maybe related to using a new image https://github.com/GoogleCloudPlatform/oss-test-infra/pull/215?

[2020-01-21 22:34] fejta commented on #245
[code]

[2020-01-21 22:42] fejta commented on #245
/close
/unassign @Katharine
Just validated that the deploy job now deploys to the correct cluster

[2020-01-21 22:42] #245 closed

[2020-01-30 18:46] chases2 commented on #181
The error is still occurring; it seems to show up in the log only when plank is restarted.

[2020-02-11 00:23] BenTheElder opened #266 "testgrid config check failing for esp-v2"
https://prow.gflocks.com/view/gcs/oss-prow/pr-logs/pull/GoogleCloudPlatform_oss-test-infra/259/pull-oss-test-infra-check-testgrid-config/1227020925258436608

/assign @TAOXUY
/kind bug

[2020-02-11 00:23] BenTheElder commented on #266
@michelle192837 do we want this check to be blocking?

[2020-02-11 00:56] chases2 commented on #266
I think we do want this check to block.
/assign

[2020-02-11 19:25] chases2 commented on #266
#259 is now passing this test. This should unblock you from merging.

[2020-02-11 19:25] #266 closed

[2020-02-11 19:39] BenTheElder commented on #266
thanks!

On Tue, Feb 11, 2020 at 11:25 AM Sean Chase <notifications@github.com>
wrote:

[2020-02-13 23:48] fejta opened #273 "pull-oss-test-infra-check-testgrid-config failed but passed"
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/270 shows X

https://prow.gflocks.com/view/gcs/oss-prow/pr-logs/pull/GoogleCloudPlatform_oss-test-infra/270/pull-oss-test-infra-check-testgrid-config/1228047829478412290 shows green

https://prow.gflocks.com/prowjob?prowjob=488e4009-4e9c-11ea-86af-b23cf998d5f2 shows job failed

/assign @chases2

What is going on here?

[2020-02-13 23:48] fejta commented on #273
/cc @TAOXUY

[2020-02-14 01:13] chases2 commented on #273
It looks like #270 merged. I still want to investigate which image (before or after https://github.com/kubernetes/test-infra/pull/16286) caused this issue.

[2020-02-14 20:13] #252 closed

[2020-02-24 19:51] fejta opened #296 "Use gcsweb"
https://github.com/istio/test-infra/tree/master/prow/cluster/gcsweb
https://github.com/istio/test-infra/blob/ed60c0a8b05037ce92a5337788f96d6d6b26d987/prow/config.yaml#L44

[2020-03-02 19:52] cjwagner opened #308 "Tide is failing to set status in GoogleCloudPlatform/compute-image-tools"
Example:
[code]

Since this is only happening on the compute-image-tools repo I suspect that the repo setting may have been accidentally changed to cause this. Perhaps the bot's permissions were demoted or removed?
cc @fejta @hopkiw

[2020-03-02 19:58] cjwagner opened #309 "Gerrit adapter fails to query changes for project `linux`."
Example:
[code]
Interestingly, these errors happen every minute, but only between the 42nd and 49th minutes of each hour.
Outside of this window queries appear to succeed. Example:
[code]
/kind bug

[2020-03-06 00:17] #101 closed

[2020-03-10 04:58] nareddyt opened #318 "testgrid config check failing for `ci-test-infra-resultstore-upload`"
This is blocking a PR for esp-v2: https://github.com/GoogleCloudPlatform/oss-test-infra/pull/317

[code]

This was working earlier in the day. I don't know how it started failing, as there were no other PRs (other than esp-v2).

[2020-03-10 17:05] nareddyt commented on #318
I should clarify that esp-v2 does not have a job `ci-test-infra-resultstore-upload`, so we are unsure why this is happening on esp-v2 presubmits.

[2020-03-10 17:05] chases2 commented on #318
/assign

[2020-03-10 18:31] #273 closed

[2020-03-10 18:32] #195 closed

[2020-03-10 19:53] #318 closed

[2020-03-11 17:43] chases2 opened #322 ""Rerun" Button on Deck redirects to old URL"
When I click on the "rerun" button on a Prow job in Deck, I get redirected to https://prow.gflocks.com/github-login/redirect, which results in a Domain Not Found error. The job does not rerun.

Rerun needs to be reconfigured _somewhere_, but I don't know exactly where.

[2020-03-23 18:24] chases2 opened #328 "Use ghProxy by May 2020"
Getting this error on startup:
[code]

[2020-04-14 22:24] fejta commented on #181
Working on this...

[2020-04-20 23:15] ORESoftware opened #341 "gcloud cli repo?"
where can I find the repo for the google cloud cli?

[2020-04-22 17:03] chases2 commented on #328
xref #344 #345
/assign @fejta @cjwagner
for verification

[2020-04-22 17:22] #328 closed

[2020-05-11 15:15] chaodaiG opened #357 "Set up monitoring for Prow resources"
The monitoring stack for Prow resources was done for k8s Prow: https://github.com/kubernetes/test-infra/blob/d230e9d49f7367a203d4cf767281b69fec2dbbf9/config/prow/cluster/monitoring

Set up the same monitoring for oss-test-infra Prow, preferabally
- Use Makefile instead of bazel
- Don't send slack notification
- Send email alert instead

[2020-05-11 15:15] chaodaiG commented on #357
/assign

[2020-05-11 15:38] chaodaiG commented on #357
@cjwagner  for awareness

[2020-05-11 18:08] clarketm opened #358 "Prow: migrate to include explicit `--github-token-path` before June 2020"
[code]

[2020-05-15 20:57] MushuEE opened #362 "https://oss-prow.knative.dev/[command-help][plugins] is void of information"
[command-help](https://oss-prow.knative.dev/command-help) and [plugins](https://oss-prow.knative.dev/plugins) must have a config serving problem or other bug leaving them blank.

[2020-05-15 21:14] MushuEE commented on #362
[code]
Looks like [issue](https://github.com/kubernetes/test-infra/blob/b5f298b6851f4db24587301840e7b7630747d315/prow/cmd/deck/pluginhelp.go#L55) might be bubbling up from which is configured [here](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/abba0bd7a19b4d2f670c540de0057a4caa263baa/prow/cluster/cluster.yaml#L201)

[2020-06-01 21:15] fejta commented on #181
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/d5da0f3bfdced1befb013bd7da08073fb9a7bd94/prow/cluster/cluster.yaml#L95

https://github.com/GoogleCloudPlatform/oss-test-infra/blob/d5da0f3bfdced1befb013bd7da08073fb9a7bd94/prow/cluster/cluster.yaml#L413

/close

[2020-06-01 21:15] #181 closed

[2020-06-01 21:16] fejta opened #373 "gerrit auth issue"
[code]

/kind oncall-hotlist
/assign

[2020-06-01 21:16] fejta commented on #373
also

[code]

  msg: "--gcs-workers is deprecated and will be removed in August 2020. Use --blob-storage-workers instead."

msg: "--kubernetes-gcs-workers is deprecated and will be removed in August 2020. Use --kubernetes-blob-storage-workers instead."
 }

[2020-06-03 18:24] #373 closed

[2020-06-16 17:46] hopkiw commented on #308
i don't think this should be an issue anymore

[2020-06-16 18:04] cjwagner commented on #308
Logs confirm, thanks.
/close

[2020-06-16 18:05] #308 closed

[2020-06-23 21:31] michelle192837 opened #400 "Update build cluster instructions"
Procedure for making a build cluster (mostly the command for updating the secret) changed slightly, so we need to update it accordingly.

The main differences:
* merge_kubernetes_secret.py is not in this repo (either need to copy it here or reference the script from test-infra)
* printed command from create_build_cluster.sh needs updated flags (--source-key and --dest-key, not --secret-key)
* comm

[2020-07-13 18:46] BenTheElder opened #437 "testgrid config validation failing"
testgrid config validation(`pull-oss-test-infra-check-testgrid-config`)  is now failing one expecting some fields to be non-zero.

for now to bump prow I overrode the job, but we should fix this.

it's not clear if this is intended and those fields should be changed in the config, or some bad defaulting or ...?

/assign @michelle192837

[2020-07-13 18:49] BenTheElder commented on #437
https://oss-prow.knative.dev/view/gcs/oss-prow/logs/post-oss-test-infra-upload-testgrid-config/1282747239776653312

we've also been failing to upload config as a result

[2020-07-14 18:51] nareddyt commented on #437
ESPv2 is also blocked by this issue. I took a quick look, but could not find the culprit PR in testgrid. I assume we need to add some annotations to our jobs, but I'm unsure which ones.

[2020-07-14 19:20] michelle192837 commented on #437
/assign @chases2

Sean is looking into this (thanks Sean!)

[2020-07-15 02:11] chases2 commented on #437
After the merge, these tests seem to be passing
(ex. https://github.com/GoogleCloudPlatform/oss-test-infra/pull/438 was failing, but after a retest is passing again)

[2020-07-15 02:11] #437 closed

[2020-07-15 17:54] BenTheElder commented on #437
thank you!

[2020-07-20 21:15] nareddyt opened #448 "Testgrid not updated with new jobs"
ESPv2 has two testgrid dashboards:
- Presubmits: https://testgrid.k8s.io/googleoss-esp-v2-presubmit
- Periodics: https://testgrid.k8s.io/googleoss-esp-v2-periodic

We recently submitted PRs #446 and #447 last week with the proper testgrid annotations. But we don't see those jobs on our dashboards.

Example missing job:
- Testgrid name: `e2e-gcloud-build-image`
- Dashboards: Both presubmit and peri

[2020-07-22 23:54] nareddyt commented on #448
Assigning to @chases2 as he's helped with testgrid in the past. Feel free to re-assign if needed.

/assign @chases2

[2020-07-27 18:25] nareddyt commented on #448
Friendly ping

[2020-08-03 18:45] chases2 commented on #448
It looks like the PR that Transfigure generated hasn't been approved yet. Your changes may be there:
https://github.com/kubernetes/test-infra/pull/18364

[2020-08-03 19:09] nareddyt commented on #448
Thanks, I know where to look now for updates!

[2020-08-03 19:09] #448 closed

[2020-08-18 21:19] colinman opened #474 "Onboard secrets-store-csi-driver-provider-gcp"
We would like to onboard https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp to oss-test-infra to execute end-to-end tests for the GCP Secret Manager Secrets Store CSI Driver Provider.

As discussed offline, there is some setup work required to configure the Github webhooks.

[2020-08-18 21:50] cjwagner commented on #474
/assign @chizhg @cjwagner

[2020-08-18 23:09] cjwagner commented on #474
Once [this PR](https://github.com/GoogleCloudPlatform/oss-test-infra/pull/475) merges and [`google-oss-robot`](https://github.com/google-oss-robot) has been granted admin access to your repo then it is safe to add an entry to the `managed_webhooks.org_repo_config` section of [`config.yaml`](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/oss/config.yaml). In particular:
[cod

[2020-08-20 19:02] cjwagner commented on #474
Please use `prow/oss/create-build-cluster.sh` once (https://github.com/GoogleCloudPlatform/oss-test-infra/pull/478) merges.

[2020-08-20 23:51] cjwagner commented on #400
All the points have been addressed.
/close

[2020-08-20 23:51] #400 closed

[2020-08-25 20:43] cjwagner opened #482 "Tide is misconfigured to run on archived repos in the Knative org."
Example error:
[code]

Please identify the archived repos in the orgs covered by the Tide query and omit them with `excludedRepos`. e.g. https://github.com/kubernetes/test-infra/blob/11c2b2aeff809375b539f532e09504b8bc171a31/config/prow/config.yaml#L449-L485

/kind bug
/cc @chaodaiG @chizhg

[2020-08-27 19:58] chizhg commented on #482
I have created https://github.com/GoogleCloudPlatform/oss-test-infra/pull/489 to fix it.

One question for this, would it make sense for Tide to identify and skip these archived repos, rather than requiring ppl to add to the config file every time a repo is archived?

[2020-08-28 00:13] cjwagner commented on #482
Thanks Chi

That sounds reasonable and handy for orgs that archive lots of repos. We'd need to ensure that the check is efficient, but I suspect that using the v3 API to fetch the repo object would be ok since we can now assume ghproxy is deployed. I'll file a feature request.

[2020-08-28 17:16] cjwagner commented on #482
Fixed by https://github.com/GoogleCloudPlatform/oss-test-infra/pull/489
/close

[2020-08-28 17:17] #482 closed

[2020-10-12 22:36] cjwagner opened #539 "knative-prow's Deck instance is not properly configured to use TestGrid."
[code]

It looks like this has probably been an issue since this was added in June of 2019? https://github.com/knative/test-infra/pull/991
/assign @chizhg
/kind bug

[2020-10-13 00:24] chizhg commented on #539
It's because I missed deck when I switched Knative Prow to use workload identity, I have created https://github.com/GoogleCloudPlatform/oss-test-infra/pull/542 to fix it.

Thanks for bringing up this issue @cjwagner !

[2020-10-14 17:35] #539 closed

[2020-10-27 22:32] colinman commented on #474
Prow tests are running and passing in secrets-store-csi-driver-provider-gcp. Example PR: https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/pull/63

[2020-10-27 22:32] #474 closed

[2020-11-16 16:38] chaodaiG commented on #357
Done
/close

[2020-11-16 16:39] #357 closed

[2020-11-16 23:49] chases2 opened #613 "Prow Controller Manager can't reconcile with trusted build cluster"
[code]

[2020-11-17 00:27] chases2 commented on #613
There were two Prow Jobs (k8s resource) manually created in the wrong instance of Prow. They were configured for a cluster that this instance does not have permission to access. These jobs have been deleted, and the log entries appear to have stopped.

[2020-11-17 00:27] #613 closed

[2020-11-18 04:19] chizhg opened #620 "One Knative Prow job is always interrupted in 30mins"
The Prow job (https://prow.knative.dev/?job=ci-knative-test-infra-branchprotector) run by Knative Prow is always interrupted after running for ~30 mins.  Not sure why it only happens to this job, but I'm suspecting https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/config.yaml#L133 might be the reason.

[2020-11-30 19:31] chizhg commented on #620
/cc @chaodaiG @cjwagner any thoughts on this issue?

[2020-11-30 19:43] chaodaiG commented on #620
This looks very possible, but it's strange that sinker thinks the pod was terminated

[2021-01-15 21:02] fejta commented on #223
Also potentially helpful: https://github.com/kubernetes/test-infra/tree/master/workload-identity

[2021-02-03 21:53] chizhg commented on #620
The issue has been root caused and fixed by Peter.

[2021-02-03 21:53] #620 closed

[2021-03-02 01:37] fejta opened #719 "Add --github-token-path to cherrypicker"
[code]

/kind oncall-hotlist
/assign

[2021-03-03 07:01] #719 closed

[2021-03-08 21:03] mpherman2 opened #730 "pull-knative-prow-config-validate Failing because "couldn't find remote ref master""
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/GoogleCloudPlatform_oss-test-infra/723/pull-knative-prow-config-validate/1369018977103122432

[2021-03-08 21:06] chases2 commented on #730
Currently blocking https://github.com/GoogleCloudPlatform/oss-test-infra/pull/723

[2021-03-08 21:17] #730 closed

[2021-03-18 00:39] cjwagner commented on #362
I noticed this recently and just looked into it. Hook's `/plugin-help` endpoint seems to hang before eventually returning a 503 (possibly from k8s?). Subsequent requests can fail immediately with the same status code and EOF message.

The logs suggest that this may be related to excessive time spent listing the repos in some of the served organizations. In particular listing the repos for the Goog

[2021-03-18 20:09] MushuEE commented on #362
/assign

[2021-03-18 22:33] MushuEE commented on #362
For reference:
curl -I "Accept: application/vnd.github.v3json" "https://api.github.com/orgs/google/repos?per_page=100"
[code]

For `google` there are 20 pages. These *could* be queried for in parallel.

[2021-03-18 23:05] MushuEE commented on #362
Looks like the solution for pageation here is
[code]
using `after:<endCursor` to iterate over pages. v4 method returns only what we need.

[2021-03-18 23:11] MushuEE commented on #362
While we can get `totalCount` there is no way to offset without a cursor to do v4 in parallel

[2021-03-19 17:08] MushuEE commented on #362
Ran some benchmarks:

"google"
________________________________________________________
Executed in    7.89 secs   fish           external
   usr time    1.36 secs   94.00 micros    1.36 secs
   sys time    0.93 secs  545.00 micros    0.93 secs

"GoogleCloudPlatform"
________________________________________________________
Executed in    3.95 secs   fish           external
   usr time    1.25 secs

[2021-04-12 16:13] chaodaiG opened #772 "OSS prow: deck error "cloudn't update testgrid config""
Recurring errors:
[code]

[2021-04-12 16:17] chaodaiG commented on #772
First occurance was on 2021-04-07 11:29:44 PDT

[2021-04-12 16:59] chaodaiG commented on #772
The permission was mysteriously lost, adding the permission fixed the issue
/close

[2021-04-12 16:59] #772 closed

[2021-04-12 18:15] chaodaiG commented on #358
This was fixed
/close

[2021-04-12 18:15] #358 closed

[2021-04-12 18:16] chaodaiG commented on #341
Doesn't feel like a relevant topic for this repo.

[2021-04-12 18:17] chaodaiG commented on #322
This was fixed, the `glocks` domain is unused any more

[2021-04-12 18:32] chaodaiG commented on #322
/close

[2021-04-12 18:32] #322 closed

[2021-04-23 19:05] chaodaiG opened #809 "Prow robot can not set up webhook for GoogleCloudPlatform/k8s-cloud-provider"
As part of modernizing oss prow, the webhook settings for all repos will be managed by prow robot. To do this requires prow robot has admin permission on the repos. And in the process we have noticed that it's not the case for GoogleCloudPlatform/k8s-cloud-provider. Please assign repo admin permission to `google-oss-robot`, or prow might stop working in the repo

[2021-04-23 19:10] chaodaiG commented on #809
/assign @bowei

[2021-04-23 19:10] chaodaiG commented on #809
@bowei please update here

[2021-04-26 17:32] chaodaiG commented on #809
Synced offline with @bowei, this was fixed
/close

[2021-04-26 17:43] cjwagner opened #810 "OSS Prow's Deck cannot update TestGrid config."
These errors started at 2021-04-23 01:08:50.000 PDT
[code]
cc @michelle192837 @chaodaiG

[2021-04-26 18:34] chaodaiG commented on #810
Error was directly from https://github.com/kubernetes/test-infra/blob/354125e18e450d66ddbcafc8ff790c4531ea222d/prow/spyglass/testgrid.go#L50

And according to the error message, the line that failed inside `updateConfig ` is https://github.com/kubernetes/test-infra/blob/354125e18e450d66ddbcafc8ff790c4531ea222d/prow/spyglass/testgrid.go#L96

According to https://github.com/kubernetes/test-infra/blo

[2021-04-26 20:06] chases2 commented on #810
This looks like a permission error of some sort, potentially related to https://github.com/GoogleCloudPlatform/oss-test-infra/issues/772.

I'm certain that TestGrid's automatic bump caused this, from the timeline. https://github.com/GoogleCloudPlatform/testgrid/commit/b48ea5680a69a7a46976b70b978a0cc7c71ac4ad#diff-d5fa379df837b6554b365b2f0f18911586630f2199e75446cf0e8c217f609bac

I suspect the confi

[2021-04-26 20:33] chases2 commented on #810
`https://storage.googleapis.com/k8s-testgrid/config` only accesses public objects. The authenticated URL is `https://storage.cloud.google.com/k8s-testgrid/config`.

I'm not sure if the [service account](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/28878ee76f0f9ab805cbe6f1da2f16adf7bb7ded/prow/oss/cluster/deck.yaml#L139 ) has permissions to access this object or not (I suspect it does

[2021-04-26 20:42] chaodaiG commented on #810
Deck uses workload identity, it authenticated at https://github.com/kubernetes/test-infra/blob/354125e18e450d66ddbcafc8ff790c4531ea222d/prow/io/opener.go#L124, another proof is that the log from https://github.com/kubernetes/test-infra/blob/354125e18e450d66ddbcafc8ff790c4531ea222d/prow/io/opener.go#L128 didn't show up in prow log

[2021-04-27 16:58] chases2 commented on #810
I've given object-level permission for 'oss-prow' to read, to see if individual permissions are overwritten or just the "public/private" setting. This might fix the issue; looking at the logs now.

[2021-04-27 17:25] chases2 commented on #810
Added a missing service account that was generating the error. After rebooting deck, the error hasn't reoccurred.

[2021-04-27 17:25] #810 closed

[2021-05-04 19:41] chases2 opened #832 "Migrate Prow to use Config Merger"
testgrid.k8s.io is now [using Config Merger](https://github.com/kubernetes/test-infra/pull/20986). We should use that instead of Transfigure to put our results on TestGrid, so we don't have to be gated by PR approvals.

- [x] Add Configurator job to upload config
- [x] Add validation tests to Configurator (call [Validate()](https://github.com/GoogleCloudPlatform/testgrid/blob/10af4270aad969e8ef0d3

[2021-05-21 08:34] BbolroC opened #866 "Error on the external secret during ci-knative-eventing-s390x-e2e-tests"
Got the following error after merging #843:

https://storage.googleapis.com/knative-prow/logs/ci-knative-eventing-s390x-e2e-tests/1395650582487764992/build-log.txt

It seems like there is a problem of loading the secret `s390x-cluster1`.

@chizhg Could you please go over this and suggest how to fix the problem?

Thank you.

[2021-05-21 08:52] BbolroC commented on #866
To ease the investigation, the secrets in the secret manager follow the IAM policies below:

[code]

[2021-05-21 14:20] chaodaiG commented on #866
I just inspected the build cluster with `k -ntest-pods get secrets s390x-cluster1 -oyaml`, and the secret was reconciled by external secret:
[code]

[2021-05-21 15:46] BbolroC commented on #866
Thank you very much for the check.

Could you also confirm the following:

1. if the secret (kind: `Secret`) is accordingly created by the `ExternalSecret`?

2. if the namespace where the deleted secret resided is `test-pods`?

[2021-05-21 15:51] chaodaiG commented on #866
Actually I'm not sure about this, @chizhg would know about the deleted secret

[2021-05-21 16:18] chizhg commented on #866
Yes, it was. The command I ran was `k delete secret s390x-cluster1 -n test-pods`.

[2021-05-21 16:32] BbolroC commented on #866
Okay, then I will figure out what I can do to solve the problem from my side. I would like to leave this issue open until the cause is identified. Thanks for the confirmation. :wink:

[2021-05-21 17:02] BbolroC commented on #866
Sorry to bother you again. Would you mind sending me the hidden data part via email? I would like to compare it to the data working before. My email address is <bbolroc@gmail.com>. Thank you. ^_^

[2021-05-21 23:14] chaodaiG commented on #866
That doesn't feel very secure. I think I have figured out why. I have manually inspected one of the value of the secret, and when I do ` k --context=knative-prow-builds -ntest-pods get secrets s390x-cluster1 -ojsonpath="{.data.ko-docker-repo}" | base64 -d` the result was still base64 encoded, and when I run `base64 -d` again on the string the output was a reasonable ip address.

The solution is: s

[2021-05-21 23:27] BbolroC commented on #866
Thank you very much! It is exactly what I wanted to check. ^^ I will try it that way.

[2021-05-21 23:57] chases2 commented on #832
Configurator has a `--validate-config-file` flag. Instead of writing our own tests, the image should be run with this flag instead.

https://github.com/kubernetes/test-infra/blob/f0dcf3701878f8b9998545f5bce8fdf77f71658a/testgrid/cmd/configurator/main.go#L77

[2021-05-22 00:40] chases2 commented on #832
https://github.com/kubernetes/test-infra/pull/22315 will let us just use that flag to validate Configurator's output.

[2021-05-22 08:50] BbolroC commented on #866
The problem is solved. Thank you guys for the support. 👍

[2021-05-22 08:50] #866 closed

[2021-05-29 09:57] BbolroC opened #879 "Problem on updating the external secret for knative"
Since this Thursday (27th of May), it does not look that the secret value has been updated by the [external secret](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/cluster/build/600-kubernetes_external_secrets.yaml) when the corresponding secret on the gcp secret manager was changed.

The log for the job `ci-knative-eventing-s390x-e2e-tests` has been showing the foll

[2021-06-07 05:33] BbolroC commented on #879
@chaodaiG @chizhg could you look into this issue if you have time? The error message still shows the following:

[code]

even if the value for `kubeconfig` is an ip address. Thanks.

[2021-06-07 14:14] chaodaiG commented on #879
cluster log shows:
[code]

This error can also be found by searching for `s390x-cluster1` in cloud logging https://cloudlogging.app.goo.gl/XrstYdw9dVopwbpF6

[2021-06-07 14:28] BbolroC commented on #879
Thank you very much. :wink: The cause for the problem is figured out.

[2021-06-07 14:28] #879 closed

[2021-06-18 23:28] chases2 opened #919 "OSS Prow isn't showing up on https://testgrid.k8s.io/"
The "googleoss" dashboard group should be appearing in the index, but it doesn't.

https://testgrid.k8s.io/

xref #832
The config is being uploaded to the correct location, but it isn't being read. Config Merger is generating no logs or errors that would indicate there's an issue.

[2021-06-22 21:26] chases2 commented on #919
After a reboot, we're now getting this error.
In addition to solving this, the k8s version of Config Merger needs to be bumped to include this "reads config only at startup" bug.

[code]

[2021-06-23 16:30] chases2 commented on #919
This issue has been resolved, after adding the required permissions.

The missing logs are due to the config merger not reading a change in a list until the controller is rebooted. This issue has been added to the TestGrid repository.

[2021-06-23 16:30] #919 closed

[2021-06-23 16:32] #832 closed

[2021-07-19 19:41] tam7t opened #971 "secrets-store-csi-driver-provider-gcp is missing"
We have periodic tests scheduled here:
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml

and had them previously viewable at:
https://oss-prow.knative.dev/?repo=GoogleCloudPlatform%2Fsecrets-store-csi-driver-provider-gcp&type=periodic

But https://oss-prow.knat

[2021-07-30 15:53] chases2 opened #990 "oss-prow: Hook can't unmarshal secret"
Getting this error repeatedly, as well as some transient errors with hook.

[code]

[2021-07-30 18:25] cjwagner commented on #990
/unassign @fejta

[2021-08-10 21:34] chaodaiG opened #1022 "Prowjobs scheduled on test-infra-trusted cluster consistently failed due to pods failed to start"
See https://oss-prow.knative.dev/?cluster=test-infra-trusted, all latest prowjobs are failing since 10:06:12 today

Example: https://oss-prow.knative.dev/view/gs/oss-prow/logs/testgrid-canary-autobump/1425201591866101760

error from spyglass:
[code]

[2021-08-10 21:38] chaodaiG commented on #1022
/assign

[2021-08-10 21:41] chaodaiG commented on #1022
Inspected one of the failing prowjob, there is no log from any of the pod utilities containers that failed to start

[2021-08-10 21:56] chaodaiG commented on #1022
oss-prow bump didn't happen today, so it's irrelevant

[2021-08-10 22:28] chaodaiG commented on #1022
Suspecting that it's due to not enough cpu/memory/disk resources in the cluster, as this build cluster is the same cluster as prow service cluster, https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1005 could have increased its load.

Increasing the nodepool from 3 to 6 nodes seem to have helped, the 3 runs after the nodepool increase all passed

[2021-08-12 18:36] chaodaiG opened #1031 "OSS prow crier reports to pubsub"
pubsub based prowjobs reply on this for receiving results

[2021-08-13 18:44] fejta opened #1036 "Setup presubmits, allow RBE"
https://oss-prow.knative.dev/view/gs/oss-prow/logs/post-oss-test-infra-deploy-prow/1426248467302322176#1:build-log.txt%3A105

[code]

[2021-08-13 22:10] fejta commented on #1036
`gsutil iam ch "serviceAccount:presubmits@oss-prow-builds.iam.gserviceaccount.com:roles/storage.objectAdmin" gs://oss-prow`

[2021-08-13 22:28] #1036 closed

[2021-08-19 21:19] cjwagner commented on #990
I've confirmed that this isn't in the logs anymore. I checked to see if the updated log message was present to identify the source of the webhooks, but it looks like we haven't received any recently.
/close

[2021-08-19 21:19] #990 closed

[2021-08-20 18:17] chaodaiG commented on #971
According to testgrid https://testgrid.k8s.io/googleoss-secrets-store-csi-driver-provider-gcp#periodic, the job `prow-e2e-tests-periodic` does run every day

And prow displays it https://oss-prow.knative.dev/?job=prow-e2e-tests-periodic, but not when grouped by repo https://oss-prow.knative.dev/?repo=GoogleCloudPlatform%2secrets-store-csi-driver-provider-gcp

seems like a bug in deck

[2021-08-24 09:38] Siddhesh-Ghadi opened #1061 "Fetch kubernetes external secrets from non GCP backend"
We are exploring on using [IBM Cloud Secrets Manager](https://www.ibm.com/cloud/secrets-manager) to fetch secrets onto knative build cluster for use-case described in [knative/test-infra#2842](https://github.com/knative/test-infra/issues/2842).

Kubernetes external secrets supports [IBM cloud backend](https://github.com/external-secrets/kubernetes-external-secrets#ibm-cloud-secrets-manager) from v

[2021-09-27 18:53] #1061 closed

[2021-10-06 16:21] chaodaiG opened #1171 "OSS prow uses GitHub app for authenticating"
OSS prow currently uses bot personal access token(PAT) for authentication with GitHub APIs, which has a global rate limit of 5000 per hour. This is not very well scalable with many tenants. Switching over to GitHub app will get a rate limit per installation, which would greatly increase the rate limit exhaustion problem we have seen lately

[2021-10-06 16:50] chaodaiG opened #1173 "oss-prow alert is very flaky on GitHub token usage"
Current alert is off when the predicted token consumption is over the rate limit before next token reset, this could happen when there is a sharp drop early after token reset, which doesn't necessarily mean the slope would continue like this. This had happened quite frequently in the past few weeks and it's very noise.

An idea fixing this would be to add another condition like trigger only when t

[2021-10-12 17:31] chaodaiG commented on #1171
The migration can be done one org/repo at a time, there are two steps:
1. Install Google OSS Prow app on corresponding org/repo https://github.com/apps/google-oss-prow
2. Register the org/repo to be handled by prow deployments that use GH app for authentication, example PR #1184

The org/repo with [managed webhooks](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/e722a2f746cb6e09589e522

[2021-11-10 20:58] chaodaiG commented on #1171
So far all orgs/repos have been migrated over to use GitHub app, crier, hook, and tide work well with Github now. Remaining work:

- Sub. Fix needed from upstream https://github.com/kubernetes/test-infra/pull/24316

[2021-11-18 17:14] chaodaiG commented on #1171
Sub just migrated with the fix #1313 , and it seems working fine so far

[2021-11-30 17:57] chaodaiG commented on #1022
/close

[2021-11-30 17:58] #1022 closed

[2021-11-30 17:58] chaodaiG commented on #341
/close

[2021-11-30 17:58] #341 closed

[2021-11-30 17:58] chaodaiG commented on #971
secrets-store-csi-driver-provider-gcp repo is not a user of prow any more

/close

[2021-11-30 17:59] #971 closed

[2021-12-07 18:55] chaodaiG commented on #1171
Will mark this issue as fixed, since deck migration is not super critical at this point. Will revisit when it becomes necessary

/close

[2021-12-07 18:56] #1171 closed

[2022-01-26 19:41] chensun opened #1437 "Switch to squash merge for cleaner commit history"
When I look at the change history under a folder, for example https://github.com/GoogleCloudPlatform/oss-test-infra/commits/master/prow/prowjobs/kubeflow/pipelines, it's not very easy to find a past change because the individual commits from a PR are not squashed. Can we switch to ["squash merge"](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-

[2022-01-29 18:51] BbolroC opened #1441 "Problem on updating the external secret for s390x-knative"
It looks the external secrets for the following have not been properly updated since 7:00 UTC on the 29th of Jan.

https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/cluster/build/600-kubernetes_external_secrets.yaml

The role `secretmanager.viewer` and `secretmanager.secretAccessor` are granted to the service account `serviceAccount:kubernetes-external-secrets-sa@knati

[2022-01-31 10:52] BbolroC commented on #1441
@chaodaiG Hi, could you have a look at this if you have time? Thank you. :wink: So many of our prow jobs go red due to this issue atm: https://prow.knative.dev/?job=*s390x*

[2022-01-31 14:03] chaodaiG commented on #1441
@cjwagner , is this possibly related to the upgrade of KES?

[2022-01-31 21:43] cjwagner commented on #1441
I don't think so, the timing doesn't match up. K8s reports the pod as "Ready", but it hasn't emitted any new logs since 2022-01-29T07:05:53.100Z. I'll restart the pod.

[2022-01-31 21:48] cjwagner commented on #1441
Logs indicate this is working again.
I'm not sure what caused this or how to prevent it from happening again. I suggest we wait to see if this ever happens again before resorting to replacing KES (since it is EOL we can't get any new fixes).

[2022-01-31 21:48] #1441 closed

[2022-02-06 12:17] BbolroC opened #1452 "Problem on updating the external secret for s390x-knative"
This is the same issue as reported in #1441

Since 2022-02-06 07:30:00 UTC, an update on the following external secrets has not been working.

https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/cluster/build/600-kubernetes_external_secrets.yaml

@cjwagner Could you look into this again?

[2022-02-07 19:23] cjwagner commented on #1452
Looks like KES just stopped again for some reason. The log output right before it gets stuck is different from normal operation:
[code]
It looks like KES in the service cluster is experiencing similar issues:
[code]

Looking at the upstream repo, this appears to be an issue others are experiencing as well and the only solution being recommended is migrating to an alternative tool. https://github.c

[2022-02-08 12:14] BbolroC commented on #1452
No meaningful findings for the solution.

Is it possible to get the operator scheduled for restart on a regular basis during the time period when it is least used? (until the migration to ESO is done)

Or to place a monitor for a metric `kubernetes_external_secrets_sync_calls_count` (https://github.com/external-secrets/kubernetes-external-secrets#metrics, and see https://github.com/external-secret

[2022-02-28 08:04] BbolroC commented on #1452
@cjwagner  Since around at 23:00 on the 25th of Feb, KES for `s390x-knative` has not been updated. Could you restart the pod again? At this time, I will restructure my code to make our [CI](https://prow.knative.dev/?job=*s390x*) working independent of whether KES works or not by the next failure. Thank you.

[2022-02-28 19:28] cjwagner commented on #1452
According to the logs KES is updating the `s390x-cluster1` secret successfully (there is no `s390x-knative` secret):

I'll restart the pod, but I wouldn't expect a change in behavior this time since the KES pod is not stuck like it was before.
FWIW we are currently planning to replace KES with an alternative next month.

[2022-02-28 21:17] BbolroC commented on #1452
oh, good to know. Thanks for restarting the pod. Based on the log (today's) you have showed me, it looks everything works fine. :wink: But the log on the 25th from my side, the secret was not updated (maybe instant failure? :thinking: ). Then I stopped updating the secret. I should have kept it updated until you look into the pod. Sorry.

Again, thanks a lot! have a great start of the week!

[2022-03-16 18:37] EricEdens opened #1533 "Flood of invocations for periodic"
I'm looking for help debugging (and fixing) a periodic that is running more often than configured.

The ci-images-import-export-cli-e2e-tests periodic ([legacy-periodics.yaml](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml#L176)) is getting invoked multiple times per hour, although it's configured to run every six

[2022-03-16 22:49] EricEdens commented on #1533
I found that our build cluster was evicting the prow jobs. Here's how I debugged it:

1. From the [log explorer](https://pantheon.corp.google.com/logs/query), searched for one of the build IDs (the first column in the screenshot above)
2. Saw two events, one for `create` and one for `delete`.
3. Read through the `deleted` event, and found the message below:

Message:

[code]

[2022-03-16 22:49] #1533 closed

[2022-03-18 09:18] BbolroC commented on #1452
I will close this issue because the implementation to make CI working independ of whether KES works has been finished.

[2022-03-18 09:18] #1452 closed

[2022-05-13 17:35] chases2 commented on #1173
Hook, Tide, and Crier seem to be using an anonymous GitHub client. That seems like it would make this issue worse:
[code]

[2022-05-13 17:36] #97 closed

[2022-05-13 17:37] chases2 opened #1614 "looker/helltool build cluster misconfigured"
[code]

[2022-05-13 17:43] chaodaiG commented on #1173
This warning is false alert, these components use GH app for authenticating, I'm fixing this false warning in https://github.com/kubernetes/test-infra/pull/26322

[2022-05-13 17:52] chases2 commented on #1614
Seems like this repository was only partially removed; see https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1530

[2022-07-13 18:07] #1614 closed

[2022-10-04 18:24] chaodaiG commented on #1437
Yes this is supported, and I can see that kubeflow is already configured to do so https://github.com/GoogleCloudPlatform/oss-test-infra/blob/d99cc26484f4d88e77d9c37ca5a38887554fff6c/prow/oss/config.yaml#L31

[2022-10-04 18:25] chaodaiG opened #1781 "Deploy status reconciler in oss-prow"
As requested from https://github.com/kubernetes/test-infra/issues/27535

This is helpful in cases where a prowjob is updated/deleted for existing PRs.

[2022-10-27 23:42] chases2 opened #1818 "post-oss-test-infra-deploy-prow job regularly failing"
Jobs are failing with the following error:
[code]
Excerpt from https://oss.gprow.dev/view/gs/oss-prow/logs/post-oss-test-infra-deploy-prow/1585738959382646784

Prowjob Definition: https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/prowjobs//GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Job History: https://testgrid.k8s.io/googleoss-test-infra#prow-deploy

Up

[2022-10-28 18:26] chases2 commented on #1818
Have confirmed that the make command the image is running works locally. Trying to figure out what's different between the two environments.

[2022-10-28 18:43] chases2 commented on #1818
Ah, the image source was bumped to v1.17 in 2022: https://github.com/kubernetes/test-infra/commit/023af195417224c7e34c50d1f695952bc8584573

But the most recent image was built in 2021, so it probably contains an earlier version: gcr.io/k8s-testimages/gcloud-in-go:v20210913-fc7c4e8

[2022-10-28 19:46] chases2 commented on #1818
Yayy https://oss.gprow.dev/view/gs/oss-prow/logs/post-oss-test-infra-deploy-prow/1586081077275922432

[2022-10-28 19:46] #1818 closed